name: Ansible CI

on:
  push:
    branches:
      - main
      - mdurand/WIP
  pull_request:
  workflow_dispatch:

env:
  COMPOSE_DOCKER_CLI_BUILD: 1
  DOCKER_BUILDKIT: 1

jobs:
  setup:
    name: Setup • ${{ matrix.os }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux
          - debian
          - fedora
          - opensuse
          - rockylinux
          - ubuntu

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        run: |
          docker build \
            -t ansistrano_${{ matrix.os }} \
            -f .docker/${{ matrix.os }}/Dockerfile .

      - name: Start target container
        run: |
          docker run -d --name target_${{ matrix.os }} ansistrano_${{ matrix.os }}

      - name: Run setup.yml
        run: |
          docker run --rm \
            -v $PWD:/app \
            --network container:target_${{ matrix.os }} \
            ansistrano \
            ansible-playbook /app/test/setup.yml -i /app/test/hosts.yml

  tests:
    name: Test • ${{ matrix.os }} • ${{ matrix.test }}
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - amazonlinux
          - debian
          - fedora
          - opensuse
          - rockylinux
          - ubuntu
        test:
          - rsync-test.yml
          - rsync_direct-test.yml
          - git-test.yml
          - download-test.yml
          - svn-test.yml
          - hg-test.yml

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image (cached)
        run: |
          docker build \
            -t ansistrano_${{ matrix.os }} \
            -f .docker/${{ matrix.os }}/Dockerfile .

      - name: Start target container
        run: |
          docker run -d --name target_${{ matrix.os }} ansistrano_${{ matrix.os }}

      - name: Run ${{ matrix.test }}
        run: |
          docker run --rm \
            -v $PWD:/app \
            --network container:target_${{ matrix.os }} \
            ansistrano \
            ansible-playbook /app/test/${{ matrix.test }} -i /app/test/hosts.yml
